# Mac
.DS_Store
.vscode/
data/battles/*
data/database/frisk.db
data/models/*
__pycache__/*
*.pyc
coverage.xml
wandb/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.github/copilot-instructions.md
nohup.out
EliteFurretAI.code-workspace
.gitattributes