# Mac
.DS_Store
.vscode/
data/battles/*
data/database/frisk.db
data/models/*
data/logs*
__pycache__/*
*.pyc
coverage.xml
wandb/*
src/elitefurretai/agents/abstract_vgc_model_player.py
.mypy_cache/
.pytest_cache/
.env
.github/copilot-instructions.md
nohup.out